body {
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
    text-align: center;
  }
  h1 {
    color: rgb(249, 247, 247);
  }
  #b1,
  #b2,
  #b3,
  #b4,
  #b5,
  #b6,
  #b7,
  #b8,
  #b9 {
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
    color: #c3c5c5;
    margin: 5px;
    cursor: pointer;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
  }
  #b {
    font-size: 1.5rem;
    border-color: white;
    color: white;
    background-color: #7d7d7d;
    padding: 5px 10px;
  }